<%- include('layout/header') %>


<center>
<div class="row my-5">
    <div class = 'container'>
        <a href = "/allAdminGD"><button type="button" class="btn btn-primary">ADMIN - GARDEN DESIGNERS</button></a>
    </div>
</div>

<div class="row my-5">
    <div class = 'container'>
        <button type="button" class="btn btn-success">ADMIN - ARCHITECT</button>
    </div>
</div>

<div class="row my-5">
    <div class = 'container'>
        <button type="button" class="btn btn-danger">ADMIN - INTERIOR DESIGNERS</button>
    </div>
</div>


</center>
<%- include('layout/footer') %>