<%- include('layout/header')%>
<div class = "frameAddArchiForm">
<div class="container">
    <div >
        <div >
            <h3 class="container mt-5 d-flex justify-content-center"> Add Architects</h3>

            <% if(typeof alert != 'undefined') { %>
              <% alert.forEach(function(error) { %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong><%= error.msg %></strong>
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
              <% }) %>
          <% } %>

            <form action="/add_Architect" method="post" id="ädd-form" enctype="multipart/form-data" >
              <div  class="form-group row mt-3">
                
                <label for="architect" class="col-sm-2 col-form-label"> Architect Name</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" name="architect" placeholder="architect">
                </div>
              </div>

                <div class="form-group row mt-3">
                  <label for="mobile" class="col-sm-2 col-form-label">Mobile Number</label>
                  <div class="col-sm-8">
                  <input type="mobile" class="form-control" name="mobile" aria-describedby="mobile" placeholder="mobile">
                  </div>
                </div>
   
                <div class="form-group row mt-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-8">
                    <input type="email" class="form-control" name="email" placeholder="email">
                    </div>
                  </div>


                  <div class="form-group row mt-3">
                    <label for="qualifications" class="col-sm-2 col-form-label"> Qualifications</label>
                    <div class="col-sm-8">
                    <input type="qualifications" class="form-control" name="qualifications" placeholder="qualifications">
                    </div>
                  </div>


                  <div class="form-group row mt-3">
                    <label for="profile_pic" class="col-sm-2 col-form-label"> Profile picture</label>
                    <div class="col-sm-8">
                    <input type="file" class="form-control" name="profile_pic" placeholder="Select Image">
                    </div>
                  </div>

                  <div class="form-group row mt-3">
                    <label for="project01_img" class="col-sm-2 col-form-label"> Project 01 Image</label>
                    <div class="col-sm-8">
                    <input type="file" class="form-control" name="project01_img" placeholder="Select Image">
                    </div>
                  </div>
                   
                  <div class="form-group row mt-3">
                    <label for="project01_disc" class="col-sm-2 col-form-label">Project 01 Description </label>
                    <div class="col-sm-8">
                    <textarea class="form-control" class="form-control" name="project01_disc" placeholder="project01_disc" rows="3"></textarea>
                    </div>
                  </div>

                  <div class="form-group row mt-3">
                    <label for="project02_img" class="col-sm-2 col-form-label">Project 02 Image</label>
                    <div class="col-sm-8">
                    <input type="file" class="form-control" name="project02_img" placeholder="Select Image">
                    </div>
                  </div>
                          
                  <div class="form-group row mt-3">
                    <label for="project02_disc" class="col-sm-2 col-form-label">Project 02 Description</label>
                    <div class="col-sm-8">
                    <textarea class="form-control" class="form-control" name="project02_disc" placeholder="project02_disc" rows="3"></textarea>
                    </div>
                  </div>

                  <div class="form-group row mt-3">
                    
                    <label for="project03_img" class="col-sm-2 col-form-label">Project 03 Image</label>
                    <div class="col-sm-8">
                    <input type="file" class="form-control" name="project03_img" placeholder="Select Image">
                    </div>

                  </div>
                          
                  <div class="form-group row mt-3">
                    <label for="project03_disc" class="col-sm-2 col-form-label" >Project 03 Description</label>
                    <div class="col-sm-8">
                    <textarea class="form-control" class="form-control" name="project03_disc" placeholder="project03_disc"  rows="3"></textarea>
                    </div>
                  </div>
                  <center>
                    <button type="submit" class="btn btn-success col-sm-1 mt-3"><b>Submit</b></button>
                    </center>
                </form>
            <center>
                <a href='/add_Architect'><button class='btn btn-info col-sm-1 mt-3'><b>Clear</b></button></a>
            </center>

                  
                

              
              </form>
        </div>
    </div>
</div>
      
</div>
      <%- include('layout/footer')%> 